/* css login  */

.mar-zero{
  margin:0px;
}

.mar-btn-20{
  margin-bottom: 20px;
}

.icon-h{
  display: none;
}

.icon-r{
  color: #a94442 !important;
}

.login-page{
  background: #091d2f;
}

.login-logo a{
  color: #FFF;
}
